@model IEnumerable<BelajaraJoinTable.Models.SiswaPelajaran>

@{
    ViewData["Title"] = "Siswapel";
}

<h1>Siswapel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Siswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelajaran)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Siswa.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelajaran.NamaPelajaran)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSiswaPelajaran">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSiswaPelajaran">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSiswaPelajaran">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
